@model Entidades.TipoProducto
@{
    ViewBag.Title = "ActualizarDatosTipo";
    Layout = "~/Views/Shared/_LayoutAdministracion.cshtml";
}
<input type="hidden" value="@Model.IdTipo" />
<div class="container" style="margin: 0 auto; width: 90%">
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-body">
            <div style="margin: 0 auto; width: 95%">
                <div style="text-align: center; margin-bottom: 50px">
                    <h3 id="lblTitulo" class="box-header">Actualizacion de datos de tipos</h3>
                    <hr />
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Codigo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="@Model.Codigo" style="border-radius:4px" autocomplete="off" id="txtActCodigoTipo" maxlength="150" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="@Model.Nombre" style="border-radius:4px" autocomplete="off" id="txtActNombreTipo" maxlength="150" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Descripcion</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" style="border-radius:4px" autocomplete="off" id="txtActDescripcionTIpo" maxlength="150">@Model.Descripcion</textarea>
                    </div>
                </div>
                <div style="text-align: center; margin-bottom: 20px">
                    <div class="col-md-12">
                        <div class="row" style="margin: 15px">
                            <a class="btn btn-success" style="margin:0 auto" onclick="ActualizarDatosTipo(@Model.IdTipo)">Guardar</a>
                            @*<input type="button" style="margin:0 auto" onclick="ActualizarDatosTipo(@Model.IdTipo)" class="btn btn-success" value="Guardar" />*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--INICIO MODAL CORRECTO-->
<div class="modal fade" tabindex="-1" role="dialog" id="ModalCorrectoActTipo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#5CB85C;">
                <h5 style="color:#ffffff;text-align:center" class="modal-title">Información</h5>
            </div>
            <div class="modal-body">
                <p id="msjCorrectoActTipo" style="text-align:center"></p>
            </div>
            <div class="modal-footer">
                <a type="button"  style="margin:0 auto"  onclick="RedireccionarTipos()"  class="btn btn-success" data-dismiss="modal">Cerrar</a>
            </div>
        </div>
    </div>
</div>
<!--FIN MODAL CORRECTO-->

<script src="~/Scripts/Mantenimientos/ActualizarTipo.js"></script>