@model List<Entidades.Productos>
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tab1" style="margin-bottom:100px">

    @if (Model.Count > 0)
    {
        for (int j = 0; j < Model.Count; j++)
        {
            <div class="col-md-3 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item" style="min-width:200px; min-height:300px">
                        @{
                            List<Entidades.ImagenesProducto> ListaImagenes = ViewBag.Imagenes;

                            if (ListaImagenes.Count > 0)
                            {

                                var Info = ListaImagenes.Where(x => x.IdProducto == Model[j].IdProducto);

                                if (Info != null)
                                {
                                    string RutaCompleta = string.Empty;
                                    string RutaImagen = string.Empty;

                                    foreach (var item in Info)
                                    {
                                        RutaCompleta = AppDomain.CurrentDomain.BaseDirectory + item.Url.ToString().Split('~')[1] + item.NombreImagen + item.Raiz;
                                        RutaImagen = item.Url + item.NombreImagen + item.Raiz;
                                    }

                                    //string RutaCompleta = AppDomain.CurrentDomain.BaseDirectory + ListaImagenes[j].Url.ToString().Split('~')[1] + ListaImagenes[j].NombreImagen + ListaImagenes[j].Raiz;


                                    if (File.Exists(RutaCompleta))
                                    {
                                        <img src="@Url.Content(RutaImagen)" alt="" class="pro-image-front">
                                        <img src="@Url.Content(RutaImagen)" alt="" class="pro-image-back">
                                    }
                                    else
                                    {
                                        <img src="~/Content/nofoto.jpg" alt="" class="pro-image-front">
                                        <img src="~/Content/nofoto.jpg" alt="" class="pro-image-back">
                                    }

                                }

                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        @Html.ActionLink("Detalles Producto", "DetalleProducto", "Producto", new { IdProducto = @Model[j].IdProducto }, new { @class = "link-product-add-cart" })
                                        @*<a onclick="ObtenerDetalleProducto(@ListaImagenes[j].IdProducto)" class="link-product-add-cart">Detalles Producto</a>*@
                                    </div>
                                </div>

                            }
                            else
                            {
                                <img src="~/Content/nofoto.jpg" alt="" class="pro-image-front">
                                <img src="~/Content/nofoto.jpg" alt="" class="pro-image-back">

                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        @Html.ActionLink("Detalles Producto", "DetalleProducto", "Producto", new { IdProducto = @Model[j].IdProducto }, new { @class = "link-product-add-cart" })
                                        @*<a onclick="ObtenerDetalleProducto(@ListaImagenes[j].IdProducto)" class="link-product-add-cart">Detalles Producto</a>*@
                                    </div>
                                </div>
                            }

                        }
                        <span class="product-new-top">Nuevo</span>

                    </div>
                    <div class="item-info-product ">
                        <h4><a href ="#">@Model[j].Nombre</a></h4>
                        <div class="info-product-price">
                            @{
                                if (Convert.ToBoolean(Model[j].Descuento))
                                {
                                    <span class="item_price">@Model[j].Moneda@Model[j].PrecioConDescuento</span><br />
                                    <span class="item_price"><del>@Model[j].Moneda@Model[j].PrecioProducto</del></span>
                                }
                                else
                                {

                                    <span class="item_price">@Model[j].Moneda@Model[j].PrecioProducto</span>
                                }


                            }
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                            <form action="#" method="post">
                                <fieldset>
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="business" value=" " />
                                    <input type="hidden" name="item_name" value="@Model[j].Nombre" />
                                    <input type="hidden" name="amount" value="@Model[j].Moneda@Model[j].PrecioProducto" />
                                    <input type="hidden" name="cancel_return" value=" " />
                                    <input type="button" onclick="AgregarAlCarro(@Model[j].IdProducto)" value="Agregar al Carrito" class="button" />
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-info" style="margin-top:50px; width:100%; text-align:center" role="alert">
            <strong>No hay informacion relacionada con los criterios de busqueda</strong>
        </div>
    }


    <div class="clearfix"></div>
</div>
