@model Entidades.Empresa

@{
    ViewBag.Title = "AcercaDe";
}

<div style="margin-top:50px;">
    <div class="col-md-12" style="margin-bottom:90px">
        <div class="col-md-2" >
            @{ 
                string RutaLogo = Model.Url.ToString().Split('~')[1] + "/" + Model.NombreImagen + Model.Raiz;
            }
            <img style="max-height:175px;max-width:175px" src="@RutaLogo" />
        </div>
        <div class="col-md-9"><h1 style="text-align:left;" id="NombreAbout">@Model.Nombre</h1></div>
    </div>
    
    <hr />
    <div class="col-md-12" style=" margin-bottom:80px;">
        <div class="col-md-4"> <i class="fa fa-phone fa-2x fa-fw"></i><b><label style="color:#2FDAB8">Telefono:</label></b><br /><label style="margin-left:70px" id="TelefonoAbout">@Model.Telefono</label></div>
        <div class="col-md-4"><i class="fa fa-envelope fa-2x fa-fw"></i><b><label style="color:#2FDAB8">Correo Electronico:</label><br /></b> <label style="margin-left:70px" id="CorreoAbout">@Model.CorreoElectronico</label></div>
        <div class="col-md-4"><i class="fa fa-map-marker fa-2x fa-fw"></i><b><label style="color:#2FDAB8">Direccion:</label><br /></b> <label style="margin-left:70px" id="DireccionAbout">@Model.Direccion</label> </div>
    </div>
    <p style="text-align:justify; margin-left:40px; margin-right:40px;" id="DescripcionAbout">

        <i class="fa fa-building fa-2x fa-fw"></i><b><label style="color:#2FDAB8">Acerca de Nosotros:</label><br /></b> <label style="margin-left:70px" id="DireccionAbout">@Model.Descripcion</label>
    </p>

</div>

