@model Entidades.Index

@{
    ViewBag.Title = "Home Page";
}

@{Html.RenderAction("ObtenerBanners", "Home");}

<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="banner_bottom_agile_info_inner_w3ls">
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <figure class="effect-roxy">
                    <img src="~/images/bottom1.jpg" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><span>F</span>all Ahead</h3>
                        <p>New Arrivals</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <figure class="effect-roxy">
                    <img src="~/images/bottom2.jpg" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><span>F</span>all Ahead</h3>
                        <p>New Arrivals</p>
                    </figcaption>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- schedule-bottom -->
<div class="schedule-bottom">
    <div class="col-md-6 agileinfo_schedule_bottom_left">
        <img src="~/images/mid.jpg" alt=" " class="img-responsive" />
    </div>
    <div class="col-md-6 agileits_schedule_bottom_right">
        <div class="w3ls_schedule_bottom_right_grid">
            <h3>Save up to <span>50%</span> in this week</h3>
            <p>
                Suspendisse varius turpis efficitur erat laoreet dapibus.
                Mauris sollicitudin scelerisque commodo.Nunc dapibus mauris sed metus finibus posuere.
            </p>
            <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <h4>Customers</h4>
                <h5 class="counter">653</h5>
            </div>
            <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <h4>Events</h4>
                <h5 class="counter">823</h5>
            </div>
            <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                <i class="fa fa-shield" aria-hidden="true"></i>
                <h4>Awards</h4>
                <h5 class="counter">45</h5>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //schedule-bottom -->
<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
    <div class="container">
        <h3 class="wthree_text_info">What's <span>Trending</span></h3>

        <div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
            <a href="womens.html">
                <div class="bb-left-agileits-w3layouts-inner grid">
                    <figure class="effect-roxy">
                        <img src="~/images/bb1.jpg" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3><span>S</span>ale </h3>
                            <p>Upto 55%</p>
                        </figcaption>
                    </figure>
                </div>
            </a>
        </div>
        <div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
            <a href="mens.html">
                <div class="bb-middle-agileits-w3layouts grid">
                    <figure class="effect-roxy">
                        <img src="~/images/bottom3.jpg" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3><span>S</span>ale </h3>
                            <p>Upto 55%</p>
                        </figcaption>
                    </figure>
                </div>
            </a>
            <a href="mens.html">
                <div class="bb-middle-agileits-w3layouts forth grid">
                    <figure class="effect-roxy">
                        <img src="~/images/bottom4.jpg" alt=" " class="img-responsive">
                        <figcaption>
                            <h3><span>S</span>ale </h3>
                            <p>Upto 65%</p>
                        </figcaption>
                    </figure>
                </div>
            </a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--/grids-->
<div class="agile_last_double_sectionw3ls">
    <div class="col-md-6 multi-gd-img multi-gd-text ">
        <a href="womens.html"><img src="~/images/bot_1.jpg" alt=" "><h4>Flat <span>50%</span> offer</h4></a>

    </div>
    <div class="col-md-6 multi-gd-img multi-gd-text ">
        <a href="womens.html"><img src="~/images/bot_2.jpg" alt=" "><h4>Flat <span>50%</span> offer</h4></a>
    </div>
    <div class="clearfix"></div>
</div>
<!--/grids-->
<!-- /new_arrivals -->
<div class="new_arrivals_agile_w3ls_info">
    <div class="container" @*style="margin-bottom:50px"*@>

        @if (Model != null)
        {

            // ACA SE MUESTRNA PRODUCTOS SIN DESCUENTOS
            if (Model.ListaProductos.Count > 0)
            {
                <h3 class="wthree_text_info">Productos a precios increibles</h3>
            }

            for (int j = 0; j < Model.ListaProductos.Count; j++)
            {


                <div class="col-md-3 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            @{

                                if (Model.ListaProductos.Count > 0)
                                {
                                    string ruta = Model.ListaProductos[j].Url + Model.ListaProductos[j].NombreImagen + Model.ListaProductos[j].Raiz;

                                    <img style="max-width:300px; max-height:400px" src="@Url.Content(ruta)" alt="" class="pro-image-front">
                                    <img style="max-width:300px; max-height:400px" src="@Url.Content(ruta)" alt="" class="pro-image-back">

                                }


                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        @Html.ActionLink("Detalles Producto", "DetalleProducto", "Producto", new { IdProducto = @Model.ListaProductos[j].IdProducto }, new { @class = "link-product-add-cart" })
                                    </div>
                                </div>

                            }
                            <span class="product-new-top">Nuevo</span>

                        </div>
                        <div class="item-info-product ">
                            <h4><a href="#">@Model.ListaProductos[j].NombreProducto</a></h4>
                            <div class="info-product-price">
                                <span class="item_price">@Model.ListaProductos[j].Moneda@Model.ListaProductos[j].PrecioUnitario</span>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="@Model.ListaProductos[j].NombreProducto" />
                                        <input type="hidden" name="amount" value="@Model.ListaProductos[j].Moneda@Model.ListaProductos[j].PrecioUnitario" />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="button" onclick="AgregarAlCarro(@Model.ListaProductos[j].IdProducto)" value="Agregar al Carrito" class="button" />
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            }




        }



    </div>
</div>

<div class="new_arrivals_agile_w3ls_info">
    <div class="container">

        @if (Model != null)
        {
            // ACA SE MUESTRAN PRODUCTOS CON DESCUENTOS

            if (Model.ListaProductosDescuento.Count > 0)
            {
                <h3 class="wthree_text_info">Productos con descuentos increibles</h3>
            }

            for (int h = 0; h < Model.ListaProductosDescuento.Count; h++)
            {


                <div class="col-md-3 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            @{

                                if (Model.ListaProductosDescuento.Count > 0)
                                {
                                    string ruta = Model.ListaProductosDescuento[h].Url + Model.ListaProductosDescuento[h].NombreImagen + Model.ListaProductosDescuento[h].Raiz;

                                    <img style="max-width:300px; max-height:400px" src="@Url.Content(ruta)" alt="" class="pro-image-front">
                                    <img style="max-width:300px; max-height:400px" src="@Url.Content(ruta)" alt="" class="pro-image-back">

                                }


                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        @Html.ActionLink("Detalles Producto", "DetalleProducto", "Producto", new { IdProducto = @Model.ListaProductosDescuento[h].IdProducto }, new { @class = "link-product-add-cart" })
                                    </div>
                                </div>

                            }
                            <span class="product-new-top">Nuevo</span>

                        </div>
                        <div class="item-info-product ">
                            <h4><a href="#">@Model.ListaProductosDescuento[h].NombreProducto</a></h4>
                            <div class="info-product-price">
                                <span class="item_price">@Model.ListaProductosDescuento[h].Moneda@Model.ListaProductosDescuento[h].PrecioConDescuento</span><br />
                                <span class="item_price"><del>@Model.ListaProductosDescuento[h].Moneda@Model.ListaProductosDescuento[h].PrecioUnitario</del></span>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="@Model.ListaProductosDescuento[h].NombreProducto" />
                                        <input type="hidden" name="amount" value="@Model.ListaProductosDescuento[h].Moneda@Model.ListaProductosDescuento[h].PrecioUnitario" />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="button" onclick="AgregarAlCarro(@Model.ListaProductosDescuento[h].IdProducto)" value="Agregar al Carrito" class="button" />
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            }

        }


    </div>
</div>

<div class="coupons">
    <div class="coupons-grids text-center">
        <div class="w3layouts_mail_grid">
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>FREE SHIPPING</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
            </div>
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-headphones" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>24/7 SUPPORT</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
            </div>
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>MONEY BACK GUARANTEE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
            </div>
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>FREE GIFT COUPONS</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>
<!--grids-->
